apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

# define new resource or replace existing ones
resources:
- persistentvolume.yaml
- persistentvolumeclaim.yaml
- ../../base
- todo-ingressroute.yaml
- postgresql-init-script.yaml

# replace existing resource definition completely  
patches:
- path: broadcaster-patch.yaml
- path: postgresql-configmap-patch.yaml
- path: postgresql-statefulset-patch.yaml

# merge into existing resources
#- postgresql-configmap-patch.yaml

namePrefix: staging-

# Broadcaster
# Todo App (frontend)
# Todo backend
images:
- name: arkb2023/broadcaster:latest
  newName: arkb2023/broadcaster
  newTag: 4a0d081d4fb1d67fcd98f1b8567c4f331e8dfbd7
- name: arkb2023/todo-app:latest
  newName: arkb2023/todo-app
  newTag: 4a0d081d4fb1d67fcd98f1b8567c4f331e8dfbd7
- name: arkb2023/todo-backend:latest
  newName: arkb2023/todo-backend
  newTag: 4a0d081d4fb1d67fcd98f1b8567c4f331e8dfbd7
