apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:

# Storage (shared across environments)
- persistentvolume.yaml
- persistentvolumeclaim.yaml

# Broadcaster
- broadcaster-deployment.yaml

# PostgreSQL
- postgresql-dbsecret.yaml
- postgresql-configmap.yaml
- postgresql-service.yaml
- postgresql-statefulset.yaml

# Todo Backend
- todo-backend-service.yaml
- todo-backend-configmap.yaml
- todo-backend-deployment.yaml

# Todo App
- todo-app-configmap.yaml
- todo-app-service.yaml
- todo-app-deployment.yaml

# Ingress - refrenced through overlay kustomization
- todo-ingress.yaml # default paths
#- todo-ingress-rewrite.yaml # env paths /staging, /prod overwrite

# CronJobs
#- cron_wiki_todo.yaml

patches:
- path: todo-ingress-rewrite.yaml

