apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


# Common resources

# Gateway API & Routes
# Routes references the service.
# Keep this after service creation (from this-project/*service.yaml)
resources:
- namespace.yaml
- persistentvolumeclaim.yaml
- ../../apps/the-project/
- gateway.yaml
- todo-app-route.yaml
- todo-backend-route.yaml

# GKE-specific image transforms
images:
- name: todo-app:latest
  newName: asia-south1-docker.pkg.dev/dwk-gke-480015/dwk-gke-repository/todo-app
  newTag: placeholder-SHA
- name: todo-backend:latest
  newName: asia-south1-docker.pkg.dev/dwk-gke-480015/dwk-gke-repository/todo-backend
  newTag: placeholder-SHA
# Exercise 3.8 TEST: Sun Dec  7 10:10:09 IST 2025
# Exercise 3.8 TEST04: Fixed config
# Exercise 3.8 TEST05: Fixed cleanup workflow in main
