apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- persistentvolumeclaim.yaml

# Common resources
- ../../apps/the-project/

# Gateway API & Routes
# Routes references the service.
# Keep this after service creation (from this-project/*service.yaml)
- gateway.yaml
- todo-app-route.yaml
- todo-backend-route.yaml
