# PostgreSQL StatefulSet ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: exercises
  name: postgres-db-config
  labels:
    app: postgresql-db
data:
  POSTGRES_USER: testdbuser
  POSTGRES_PASSWORD: testdbuserpassword
  POSTGRES_DB: testdb
  DB_HOST: postgresql-db-svc.exercises.svc.cluster.local
  DB_PORT: "5432"
  PGDATA: /data/pgdata
