apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: arkb2023/ping-pong:3.4.1
          envFrom:
          - configMapRef:
              name: postgres-db-config
          readinessProbe:
            httpGet:
              path: /pings      # Use existing endpoint for health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
