apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: local-pv-claim
      containers:
        - name: todo-app-container
          #image: arkb2023/todo-app:3.5.1  # image name/tag
          image: arkb2023/todo-app:latest  # Generic placeholder
          envFrom:
          - configMapRef:
              name: todo-app-config
          volumeMounts:
          - name: shared-image
            mountPath: /usr/src/app/files
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000  # FastAPI port
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          # Resource requests and limits
          # -----------------------------------------------
          resources:
            requests:
              cpu: "250m"           # Minimum CPU needed
              memory: "256Mi"       # Minimum memory needed
            limits:
              cpu: "500m"           # Maximum CPU allowed
              memory: "512Mi"

        # readinessProbe based sidecar, didn't work!
        # Readiness probe failed: \
        #   Get "http://todo-backend-svc:4567/todos/healthz": \
        #   dial tcp: lookup todo-backend-svc: no such host
        # -----------------------------------------------------
        # - name: todo-backend-fetcher
        #   image: busybox:1.36
        #   command: ["sh", "-c", "sleep 365d"]
        #   readinessProbe:
        #     httpGet:
        #       path: /todos/healthz
        #       port: 4567
        #       host: todo-backend-svc
        #     initialDelaySeconds: 10     # same as your working exec probe
        #     periodSeconds: 5
        #     timeoutSeconds: 5           # slightly more forgiving
        #     failureThreshold: 3

        # Working sidecar - curl based!
        # -----------------------------
        - name: todo-backend-fetcher
          image: arkb2023/todo-app:latest
          command: ["/bin/sh"]                     # override ENTRYPOINT
          args: ["-c", "tail -f /dev/null"]
          volumeMounts:
          - name: shared-image
            mountPath: /usr/src/app/files
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - curl -f http://todo-backend-svc:4567/todos/healthz
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3

          # Resource requests and limits
          # -----------------------------------------------
          resources:
            requests:
              cpu: "250m"           # Minimum CPU needed
              memory: "256Mi"       # Minimum memory needed
            limits:
              cpu: "500m"           # Maximum CPU allowed
              memory: "512Mi"
