apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: arkb2023/ping-pong:3.5.3
          envFrom:
          - configMapRef:
              name: postgres-db-config
          startupProbe:
            httpGet:
              path: /health
              port: 3000
            failureThreshold: 30       # Number of retries
            periodSeconds: 10          # Interval between tries
          readinessProbe:
            httpGet:
              path: /pings      # Use existing endpoint for health
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
