apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: arkb2023/todo-app:1.5  # image name/tag
          env:
            - name: PORT
              value: "8080"               # can be any port you choose
            - name: APP_MODE
              value: "Development"      # example additional env variable
          ports:
            - containerPort: 8080