apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: exercises

# Base resources
# --------------
resources:
- namespace.yaml

# Log-output and Ping-pong apps
# ------------------------------
- ../../apps/ping-pong-log-output
- postgresql-init-script.yaml
# Prior to istio exercises
# - log-output-ingress.yaml
# - ping-pong-ingress.yaml

# Greeter app resources
# ---------------------
- ../../apps/greeter
- log-output-gateway.yaml
- ping-pong-route.yaml
- log-output-route.yaml

patches:
- path: postgresql-statefulset-patch.yaml

images:
- name: arkb2023/log-reader:latest
  newName: arkb2023/log-reader
  newTag: 5.3.3
- name: arkb2023/ping-pong:latest
  newName: arkb2023/ping-pong
  newTag: 5.3.1
- name: arkb2023/greeter:latest
  newName: arkb2023/greeter
  newTag: 5.3.2
