apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- ../../apps/ping-pong-log-output
- log-output-ingress.yaml
- ping-pong-ingress.yaml

images:
- name: arkb2023/log-reader:latest
  newName: arkb2023/log-reader
  newTag: 2b92dd5b30cf58fdbb7b2c0b9d7aed0174db767f
- name: arkb2023/ping-pong:latest
  newName: arkb2023/ping-pong
  newTag: 2b92dd5b30cf58fdbb7b2c0b9d7aed0174db767f
