apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- ../../apps/ping-pong-log-output
- log-output-ingress.yaml
- ping-pong-ingress.yaml

images:
- name: arkb2023/log-reader:latest
  newName: arkb2023/log-reader
  newTag: ee380e6e52bee7f83677d2c530b5dd9c61bd6d8b
- name: arkb2023/ping-pong:latest
  newName: arkb2023/ping-pong
  newTag: ee380e6e52bee7f83677d2c530b5dd9c61bd6d8b
