apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- ../../apps/ping-pong-log-output
- log-output-ingress.yaml
- ping-pong-ingress.yaml

images:
- name: arkb2023/log-reader:latest
  newName: arkb2023/log-reader
  newTag: 9308c837d55e2d64ee27dc64f81e984eaf9e5494
- name: arkb2023/ping-pong:latest
  newName: arkb2023/ping-pong
  newTag: 9308c837d55e2d64ee27dc64f81e984eaf9e5494
