name: GitOps Staging Project (Todo App + Todo Backend + Broadcaster)
on:
  push:
    branches:
      - main
    paths:
    # Common
    - 'the_project/broadcaster/**'
    - 'the_project/todo_app/**'
    - 'the_project/todo_backend/**'
    - 'apps/the-project/base/**'

    # Staging
    - '.github/workflows/gitops-staging-project.yaml'
    - 'apps/the-project/overlays/staging/**'
    - 'apps/the-project/argocd-apps/staging-app.yaml'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    #1
    - uses: actions/checkout@v4
    #2
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    #3
    - name: Build Todo Backend App
      run: |
        docker build -t arkb2023/todo-backend:${GITHUB_SHA} the_project/todo_backend
        docker push arkb2023/todo-backend:${GITHUB_SHA}
    #4
    - name: Build Todo frontend App
      run: |
        docker build -t arkb2023/todo-app:${GITHUB_SHA} the_project/todo_app
        docker push arkb2023/todo-app:${GITHUB_SHA}

    #5
    - name: Build Broadcaster App
      run: |
        docker build -t arkb2023/broadcaster:${GITHUB_SHA} the_project/broadcaster
        docker push arkb2023/broadcaster:${GITHUB_SHA}
    #6
    - name: Setup Kustomize
      uses: imranismail/setup-kustomize@v2

    #7
    - name: Update images in overlays/staging/kustomization.yaml 
      working-directory: apps/the-project/overlays/staging
      run: |
        git checkout main
        kustomize edit set image arkb2023/todo-backend:latest=arkb2023/todo-backend:${GITHUB_SHA}
        kustomize edit set image arkb2023/todo-app:latest=arkb2023/todo-app:${GITHUB_SHA}
        kustomize edit set image arkb2023/broadcaster:latest=arkb2023/broadcaster:${GITHUB_SHA}

    #8
    - name: Commit kustomization changes
      uses: EndBug/add-and-commit@v9
      with:
        add: 'apps/the-project/overlays/staging/kustomization.yaml'
        message: "GitOps Staging Project ${{ github.sha }}"
