name: GitOps Project (Todo App + Todo Backend)
on:
  push:
    paths:
    - 'the_project/**'
    - 'apps/the-project/**'
    - 'environments/project-local/**'
    - '.github/workflows/gitops-project.yaml'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    #1
    - uses: actions/checkout@v4
    #2
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    #3
    - name: Build Todo Backend App
      run: |
        docker build -t arkb2023/todo-backend:${GITHUB_SHA} the_project/todo_backend
        docker push arkb2023/todo-backend:${GITHUB_SHA}
    #4
    - name: Build Todo frontend App
      run: |
        docker build -t arkb2023/todo-app:${GITHUB_SHA} the_project/todo_app
        docker push arkb2023/todo-app:${GITHUB_SHA}

    #5
    - name: Setup Kustomize
      uses: imranismail/setup-kustomize@v2
    
    #6
    - name: Update kustomization.yaml
      run: |
        cd environments/project-local
        kustomize edit set image arkb2023/todo-backend:latest=arkb2023/todo-backend:${GITHUB_SHA}
        kustomize edit set image arkb2023/todo-app:latest=arkb2023/todo-app:${GITHUB_SHA}
        cd -
    
    #7
    - name: Commit kustomization changes
      uses: EndBug/add-and-commit@v9
      with:
        add: 'environments/project-local/kustomization.yaml'
        message: "Project GitOps ${{ github.sha }}"
